@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    padding-top: 12px;
}

h5 {
    font-size: 12px;
    font-weight: 400;
    color: #bbbbbb;
    padding-top: 12px;
}

/* Navigation CSS */

nav {
    background-color: #001315;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    float: left;
    line-height: 70px;
    padding-left: 60px;
}

.logo img {
    width: 32px;    
    height: 32px;
    margin-right: 4px;
}

.logo b {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
}

.logo span {
    color: #00a9bf;
    font-weight: 600;
}

nav:after {
    content: ' ';
    clear: both;
    display: table;
}

.show, .icon, input {
    display: none;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 60px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline;
    background: #001315;
    margin: 0 5px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: #00a9bf;
    text-decoration: #00a9bf underline;
}

nav ul li a:hover span {
    color: #00a9bf;
}

nav ul li button { 
    background-color: transparent;
    border: none;
}

nav ul li button a {
    padding: 8px 24px;
    border-radius: 8px;
}

.sign-in-button {
    background-color: #FFFFFF;
    color: #001315;
    font-weight: 600;
}

.sign-in-button:hover {
    text-decoration: none;
    color: #001315;
}

.sign-up-button {
    background-color: #00a9bf;
    font-weight: 600;
}

.sign-up-button:hover {
    text-decoration: none;
    color: #FFFFFF;
}

nav ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
}

nav ul li:hover ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 170px;
    float: none;
    display: list-item;
    border-bottom: 1px solid #001315;
}

nav ul ul li a {
    line-height: 50px;
}

/* Header CSS */

header {
    width: 100%;
    height: 100%;
    background-color: #001315;
    display: flex;
    justify-content: center;
}

.page-tittle {
    box-sizing: border-box;
    padding: 100px 60px 30px 60px;
    max-width: 1144px;
}

.page-tittle h2 {
    font-weight: bold;
    font-size: 40px;
}

/* Popup CSS */

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 15;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #002125;
    height: 500px;
    width: 1000px;
    z-index: 16;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 24px;
}

.close-btn {
    font-size: 25px;
    top: 20px;
    right: 20px;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #00a9bf;
    border-radius: 8px;
    line-height: 30px;
    cursor: pointer;
}

.popup-container {
    display: flex;
}

.content-section {
    box-sizing: border-box;
    padding-right: 24px;
    height: 100%;
    width: 480px;
}

.review-section {
    box-sizing: border-box;
    padding-right: 24px;
    height: 100%;
    width: 480px;
}

.content-poster {
    position: relative;
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 20;
    margin-bottom: 12px;
}

.pop-background-music {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVb5NlM3dFnmi1jcZx5XI5yDJJj21jxcY4zCJ0nrGl7g&s);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 21;
}

.content-poster img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    z-index: 22;
}

.content-text h3 {
    font-size: 16px;
}

.content-text h4 {
    text-decoration: none;
    color: grey;
    padding-top: 4px;
    font-size: 12px;
}

.content-text h5 {
    color: white;
    font-size: 12px;
    padding-top: 4px;
}

.content-text h5 span {
    color: #00a9bf;
}

.content-text p {
    font-size: 10px;
    text-align: justify;
    margin-top: 12px;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.review-scroll {
    max-height: 300px;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    overflow-x: auto;
}

.review-form {
    box-sizing: border-box;
    padding: 12px 20px;
    height: 100%;
    width: 100%;
}

.review-scroll::-webkit-scrollbar {
    width: 5px;
}

.review-scroll::-webkit-scrollbar-track {
    background-color: #002125;
}

.review-scroll::-webkit-scrollbar-thumb {
    background-color: #00a9bf;
}

.review-card {
    width: 100%;
    height: 100%;
    background-color: #00626e;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    margin-top: 12px;
}

.review-card p{
    font-size: 12px;
}

.profile-section {
    display: flex;
    align-items: center;
}

.profile-section p {
    font-size: 14px;
}

.profile-section img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating {
    display: inline-block;
}
  
.rating input {
    display: none;
}
  
.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    margin: 0 4px;
}
  
.rating label:before {
    content: '\2605';
    font-size: 24px;
}

  
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #00a9bf;
    transition: color 0.3s;
}

textarea {
    width: 100%;
    background-color: #00626e;
    border-radius: 4px;
    height: 60px;
    box-sizing: border-box;
}

.review-form button {
    width: 100%;
    background-color: #00626e;
    border: none;
    height: 30px;
    border-radius: 4px;
    margin-top: 4px;
    cursor: pointer;
}

.review-form button:hover {
    background: #00a9bf;
}

/* Section CSS */

.trending-list, .most-popular-list, .featured-list {
    width: 100%;
    height: 100%;
    background-color: #002125;
    display: flex;
    justify-content: center;
}

.trending-container, .most-popular-container, .featured-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-container {
    width: 1144px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 12px;
}

.music-container-up {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.music-container-up a {
    position: absolute;
    z-index: 0;
    right: 0px;
}

.music-container-up a:hover {
    color: #00a9bf;
}

.music-cards {
    display: flex;
    width: 100%;
    overflow-x: auto;
    height: 260px;
}

.music-cards::-webkit-scrollbar {
    height: 5px;
}

.music-cards::-webkit-scrollbar-track {
    background-color: #001315;
}

.music-cards::-webkit-scrollbar-thumb {
    background-color: #00a9bf;
    border-radius: 4px;
}
.music-card {
    width: 150px;
    height: 200px;
    position: relative;
    z-index: 0;
    margin-top: 24px;
    border-radius: 8px;
    margin-right: 24px;
    cursor: pointer;
}

.music-card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.music-card-text{
    z-index: 1;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.music-card-text p {
    font-size: 12px;
}

.music-card-text span {
    font-size: 12px;
    color: orange;
}

.music-card-text .singer {
    color: grey;
}

/* Footer CSS */

footer {
    background-color: #001315;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    width: 1144px;
    align-items: center;
    justify-content: space-between;
    height: 108px;
}

footer .logo {
    padding-left: 0;
}

footer h3 {
    background-color: #001315;
    font-size: 12px;
    width: 100%;
    padding: 12px 0;
    text-align: center;
}

.menu-option a {
    text-decoration: none;
    margin: 0 12px;
}

.menu-option a:hover {
    color: #00a9bf;
    text-decoration: #00a9bf underline;
}

.fa {
    width: 50px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    margin: 0 12px;
    border-radius: 4px;
}

.fa-facebook {
    background: grey;
    color: white;
}
  
.fa-twitter {
    background: grey;
    color: white;
}

.fa-instagram {
    background: grey;
    color: white;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}
  
.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-instagram:hover {
    background: #125688;
    color: white;
}


@media screen and (max-width: 1150px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }

    nav .logo {
        width: 100%;
        padding-left: 0;
    }

    .logo img {
        margin-left: 20px;
    }

    .hamburger-menu-icon {
        width: 44px;
        height: 44px;
    }

    .icon {
        display: block;
        position: absolute;
        right: 20px;
        line-height: 70px;
        cursor: pointer;
        top: 13px;
    }

    nav ul li {
        background: none;
    }

    nav ul li, nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul li {
        border-bottom: 0px;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    .show {
        display: block;
        color: #FFFFFF;
        font-size: 18px;
        padding: 0 18px;
        line-height: 70px;
        cursor: pointer;
    }

    .button-sign {
        padding: 0 18px;
    }

    .show:hover {
        color: #00a9bf;
        text-decoration: #00a9bf underline;
    }

    .show:hover span {
        color: #00a9bf;
        text-decoration: #00a9bf underline;
    }

    .show + a, ul {
        display: none;
    }

    [id^=btn]:checked + ul {
        display: block;
    }

}

@media screen and (max-width: 1144px) {

    .news-list-container-up {
        width: 100%;
    }

    .trending-container h2 {
        width: 100%;
    }
    
    .news-list-container h2 {
        width: 100%;
    }

    .news-list-container {
        width: 100%;
    }
    
    .movie-container {
        width: 100%;
    }

    .book-container {
        width: 100%;
    }

}

@media screen and (max-width: 1144px) {

    .music-container {
        width: 100%;
    }

    .footer-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 60px;
    }

    footer h3 {
        width: 100%;
        box-sizing: border-box;
        padding: 24px 60px;
    }

}

@media screen and (max-width: 980px) {
    .footer-container {
        height: 100%;
        gap: 24px;
        flex-direction: column;
    }
}


@media screen and (max-width: 425px) {

    .page-tittle h2 {
        font-size: 24px;
    }

    .menu-option {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

}

@media screen and (max-width: 350px) {

    .social-media-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}